---
layout: default
---

<!-- JSON-LD & OG/Twitter -->
{% include jsonld-article.html %}
{% include og-twitter.html %}

<div class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 itemprop="name" class="post-title">{{ page.title }}</h1>
    <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
    <p class="post-meta">
    Posted in
    {% for cat in page.categories %}
    <a href="{{site.baseurl}}/categories/#{{ cat }}">{{ cat }}</a>{% unless page.categories.last == cat %}, {% endunless %}
    {% endfor %}
    {% if page.tags != empty %}
    and tagged
    {% for tag in page.tags %}
    <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>{% unless page.tags.last == tag %}, {% endunless %}
    {% endfor %}
    {% endif %}
    <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">
    on {{ page.date | date: "%b %-d, %Y" }}
    </time>
    </p>
  </header>

  <div class="article-container">
    {% include toc.html %}
    
    <!-- Gate badge -->
    {% include gate-badge.html %}

    <!-- Method -->
    {% include method-box.html %}
    
    <article class="article" itemprop="articleBody">
      {{ content }}
    </article>

    <!-- Myth vs Reality -->
    {% include myth-reality.html %}

    <!-- Decision Bridge -->
    {% include decision-bridge.html %}
  </div>
  
  <hr />
</div>

{% include cta.html %}
{% include related-by-tags.html %}

{% if site.related_posts.size >= 1 %}
<div>
  <h1>Related Posts</h1>
  <ul>
  {% for related_post in site.related_posts limit: 7 %}
    <li><a href="{{ related_post.url | relative_url }}">{{ related_post.title }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% include page_pagination.html %}
{% include comments.html %}